<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zhouyunlong.pintuan.dao.UserSubscribeMapper">

    <select id="list" resultType="com.example.zhouyunlong.pintuan.entity.UserSubscribe">
        SELECT * FROM user_subscribe
    </select>

</mapper>